/**
*/

* {
  box-sizing: border-box;
  text-align: center;
}


body {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
 color: #777;
 background: #777;
  width: 960px;
 font-size: '18px';
 justify-content: center;
 align-items:center;
}

#art {
 
 background: #777;
 width: 88.3%; 
 height:  88.3%; 
 
 justify-content: center;
 align-items:center;
 margin-left: 15px;
 margin-bottom: 5px;
}

header {
  padding: 20px;
  margin-bottom: 2px;
  color: #333;
    background: #ebebeb;
    width: 495px;
    display: inline-block;
}

h1 {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
    background: #ebebeb;
    width: 495px;
    display: inline-block;
}


h3 {
  color: #333;
    background: #ebebeb;
    width: 88%;
   
    display: inline-block;
}


#txt {
  color: #333;
    background: #ebebeb;
    width: 88%;
    display: inline-block;
}



#mid { 
  
  margin-bottom: 2px;
  background: #ebebeb;
  width: 495px;
  height: 260px;
  display: inline-block;
  background: #777;
}



#left {
  float: left; /* we want to float the element to the left side of its containing block */
  width: 48.3%; /* we want 3 section elements to cover roughly 100% of an area so we use percentages */
 
  height: 200px;
  background: #ebebeb;
  margin-left: 0px;
}


#right {
  float: right;
  width: 45.3%;
 
  background: #ebebeb;
  height: 200px;
  margin-right: 5px;
}



aside {
  float: right;
  width: 45.3%;
 
  background: #ebebeb;
  height: 200px;
  margin-right: 5px;
  border: 1px solid #eee;
}


footer {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
    background: #ebebeb;
    width: 495px;
    display: inline-block;
}